body 
{
    margin: 0;
    padding: 0;
}
#center_image
{
    position:absolute;
    z-index:10; 
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.paralax_container
{
    position: relative;
    z-index: -1;
}
.block1
{
    height: 90px;
    background-color: red;
}
.spacer
{
    height: 50px;
}