body 
{
    margin: 0;
    padding: 0;
}
#center_image
{
    position:absolute;
    z-index:10; 
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.paralax_container
{
    position: relative;
    z-index: -1;
}
.circle_icon
{
    font-size: 80px;
    line-height: 150px;
    text-align: center;
    min-width: 90px;
    width:150px;
    height:150px;
    color: white;
    background-color: #303030;
}
.circle_icon:hover
{
 background-color: #505050;
}
.spacer
{
    height: 50px;
}
.div_centralizer
{
    display: flex;
    align-items: center;
    justify-content: center;
}